<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body>
    {{> partials/header}}
    
    <div class="container mt-3 my-md-4">
        <main>
            About
        </main>
    </div>

    {{> partials/footer}}
</body>
</html>