<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <header>
        {{> partials/header}}
    </header>
    <main>
        Home
    </main>
    <footer>
        {{> partials/footer}}
    </footer>
</body>
</html>