<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
{{> partials/navbar}}

<div class="container">
<main class="mb-5">
    
    <!-- CAROUSEL -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    class="d-block w-100"
                    srcset="
                        images/slides/alex-shuper-U7MRVBu0raM-unsplash-510x207.jpg   510w,
                        images/slides/alex-shuper-U7MRVBu0raM-unsplash-690x280.jpg   690w,
                        images/slides/alex-shuper-U7MRVBu0raM-unsplash-1110x547.jpg 1110w
                    "
                    src="images/slides/alex-shuper-U7MRVBu0raM-unsplash-1110x547.jpg"
                    alt="Image by Alex Shuper at https://unsplash.com/@alexshuperart"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="d-block w-100"
                    srcset="
                        images/slides/alex-shuper-SNliMkZHVig-unsplash-510x207.jpg   510w,
                        images/slides/alex-shuper-SNliMkZHVig-unsplash-690x280.jpg   690w,
                        images/slides/alex-shuper-SNliMkZHVig-unsplash-1110x547.jpg 1110w
                    "
                    src="images/slides/alex-shuper-SNliMkZHVig-unsplash-1110x547.jpg"
                    alt="Image by Alex Shuper at https://unsplash.com/@alexshuperart"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="d-block w-100"
                    srcset="
                        images/slides/alex-shuper-jBAcX9rZF4s-unsplash-510x207.jpg   510w,
                        images/slides/alex-shuper-jBAcX9rZF4s-unsplash-690x280.jpg   690w,
                        images/slides/alex-shuper-jBAcX9rZF4s-unsplash-1110x547.jpg 1110w
                        "
                    src="images/slides/alex-shuper-jBAcX9rZF4s-unsplash-1110x547.jpg"
                    alt="Image by Alex Shuper at https://unsplash.com/@alexshuperart"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- BLOCKQUOTE -->
    <figure class="text-center my-5">
        <blockquote class="blockquote" id="blockquote">
            <p>
                If you can't fly, then run. If you can't run, then walk. If you can't walk, then crawl, but whatever you do, you have to keep moving.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer pl-3">
            <cite title="Source Title">Martin Luther King Jr.</cite>
        </figcaption>
    </figure>

    <!-- JUMBOTRON -->
    <div class="my-4 bg-body-tertiary rounded-3">
        <div class="container-fluid p-5">
            <h1>Bootstrap 5 Custom Jumbotron</h1>
            <p>Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <button 
                class="btn btn-primary btn-lg" 
                href="https://getbootstrap.com/docs/5.3/examples/jumbotron/"
                type="button"
            >
                Example button
            </button>
        </div>
    </div>

</main>
</div>

{{> partials/footer}}
</body>
</html>