body {
    .navbar-brand span {
        position: relative;
        bottom: -2px;
        display: none; // Hidden by default, then using jQuery to fadeIn. See custom.js.
    }
    
    main {
        min-height: calc( 100vh - 593px );
    }
}